# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [57]:
import pandas as pd
import numpy as np

In [58]:
location ="datasets_travel_times.csv"
travel_df = pd.read_csv(location)
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [60]:
import pandas as pd
import numpy as np

In [64]:
location2 = "datasets_income_expenses.xlsx"
expense_df = pd.read_excel(location2)
expense_df.head()

  Income Range                    Category  Amount Class_level
0     $100-200                        Rent   26.43        Poor
1     $100-200                        Food   59.81        Poor
2     $100-200                     Clothes   38.95        Poor
3     $100-200                       Taxes    0.14        Poor
4     $100-200  Other Expenses and Savings   13.77        Poor

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [65]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
GradeList = list (zip(names, grades))

In [66]:
df = pd.DataFrame (data = GradeList, columns =['Names', 'Grades'])
df.to_csv('studentgrades.csv', index = False, header = False)

In [67]:
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
writer = pd.ExcelWriter('dataframe.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [68]:
travel_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [69]:
expense_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [79]:
expense_df['Amount'].groupby(expense_df['Income Range']).sum()

Income Range
$100-200      139.10
$1000+       1125.00
$200-300      249.45
$300-400      335.68
$400-500      433.82
$500-750      557.00
$750-1000     880.00
Name: Amount, dtype: float64

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [85]:
pd.pivot_table(travel_df, index =['StartTime','DayOfWeek','GoingTo'])

                             AvgMovingSpeed  AvgSpeed  Distance  MaxSpeed  \
StartTime DayOfWeek GoingTo
06:04     Tuesday   GSK               82.00     77.40    49.010    119.00
06:21     Monday    GSK              106.20    104.40    50.580    125.00
06:34     Monday    GSK               79.10     69.40    49.090    123.70
07:05     Friday    GSK               81.40     72.00    49.180    123.00
07:14     Thursday  GSK               84.30     76.50    51.630    134.40
07:18     Wednesday GSK               82.00     73.60    51.640    124.60
07:19     Monday    GSK               71.00     65.05    51.640    125.90
          Thursday  GSK               75.80     68.10    51.680    123.50
          Wednesday GSK               81.80     76.30    51.710    125.60
07:20     Monday    GSK               74.00     65.70    49.020    126.10
07:21     Friday    GSK               80.20     71.10    49.040    124.60
          Tuesday   GSK               77.70     70.50    51.500    127.60
07:22     Friday    GSK               77.30     74.00    51.690    128.40
          Wednesday GSK               73.60     67.30    51.600    126.40
07:23     Thursday  GSK               71.70     63.40    50.470    124.80
          Tuesday   GSK               61.00     55.30    51.740    112.20
          Wednesday GSK               82.70     76.60    51.670    123.50
07:24     Monday    GSK               50.30     38.10    52.250    127.30
          Thursday  GSK               84.40     80.10    51.380    124.60
          Tuesday   GSK               74.70     69.30    51.640    122.30
07:25     Thursday  GSK               74.70     69.80    51.680    132.50
          Tuesday   GSK               74.05     65.75    50.505    126.45
          Wednesday GSK               72.40     65.60    51.790    127.50
07:26     Monday    GSK               75.50     71.00    51.630    127.10
          Wednesday GSK               80.40     73.40    51.700    129.80
07:27     Tuesday   GSK               82.60     76.10    51.650    128.60
07:34     Monday    GSK               86.85     77.00    50.505    133.05
07:36     Tuesday   GSK               88.60     86.30    50.650    128.10
07:37     Thursday  GSK              101.60     97.60    50.670    130.00
07:38     Tuesday   GSK               78.80     68.80    53.480    124.90
...                                     ...       ...       ...       ...
17:25     Thursday  Home              86.00     80.70    51.180    133.60
17:26     Tuesday   Home              75.60     69.80    51.110    130.10
17:27     Thursday  Home              79.60     74.30    51.110    124.80
          Tuesday   Home              87.00     82.40    51.140    133.40
17:28     Tuesday   Home              79.10     69.50    51.360    133.10
17:29     Monday    Home              78.60     71.60    51.060    126.50
17:31     Monday    Home              86.85     82.05    51.295    124.95
17:33     Thursday  Home              88.00     81.60    52.420    128.90
17:36     Tuesday   Home              70.90     61.40    51.060    122.80
          Wednesday Home              79.60     71.10    51.770    127.00
17:37     Monday    Home             103.60     97.20    50.690    132.30
          Thursday  Home              79.60     72.50    51.330    125.20
17:38     Monday    Home              83.70     78.00    51.110    132.30
          Thursday  Home              78.50     70.30    50.960    131.90
          Tuesday   Home              73.20     67.10    51.660    138.00
17:39     Thursday  Home              70.60     64.20    51.230    132.80
          Tuesday   Home              85.20     76.00    51.150    128.80
          Wednesday Home              73.30     63.40    51.300    126.20
17:41     Thursday  Home              81.50     74.60    51.070    125.00
17:42     Friday    Home              81.60     78.10    51.090    126.50
17:43     Tuesday   Home              82.40     74.80    51.150    130.60
17:46     Thursday  Home              84.80     76.00    51.090    128.50
17:47     Wednesday Home              65.80     59.70    51.400    114.40
17:50     Thursday  Home              75.90     69.00    51.130    127.50
17:51     Tuesday   Home              87.60     61.60    53.280    125.80
17:53     Wednesday Home              81.50     79.20    51.230    124.90
17:58     Thursday  Home              76.30     73.30    51.290    126.00
18:05     Wednesday Home              89.20     82.90    51.740    133.30
18:57     Tuesday   Home              88.10     83.40    51.150    136.20
20:31     Friday    Home             110.40    107.70    50.680    135.60

                             MovingTime  TotalTime
StartTime DayOfWeek GoingTo
06:04     Tuesday   GSK           35.90      38.00
06:21     Monday    GSK           28.60      29.10
06:34     Monday    GSK           37.30      42.40
07:05     Friday    GSK           36.30      41.00
07:14     Thursday  GSK           36.70      40.50
07:18     Wednesday GSK           37.80      42.10
07:19     Monday    GSK           44.95      48.75
          Thursday  GSK           40.90      45.60
          Wednesday GSK           37.90      40.70
07:20     Monday    GSK           39.70      44.80
07:21     Friday    GSK           36.70      41.40
          Tuesday   GSK           39.80      43.80
07:22     Friday    GSK           40.10      41.90
          Wednesday GSK           42.10      46.00
07:23     Thursday  GSK           42.75      48.75
          Tuesday   GSK           50.90      56.20
          Wednesday GSK           37.50      40.50
07:24     Monday    GSK           62.40      82.30
          Thursday  GSK           36.50      38.50
          Tuesday   GSK           41.50      44.70
07:25     Thursday  GSK           41.50      44.40
          Tuesday   GSK           40.95      46.05
          Wednesday GSK           42.90      47.30
07:26     Monday    GSK           41.10      43.60
          Wednesday GSK           38.60      42.30
07:27     Tuesday   GSK           37.50      40.70
07:34     Monday    GSK           34.90      39.35
07:36     Tuesday   GSK           34.30      35.20
07:37     Thursday  GSK           29.90      31.10
07:38     Tuesday   GSK           40.70      46.70
...                                 ...        ...
17:25     Thursday  Home          35.70      38.00
17:26     Tuesday   Home          40.60      44.00
17:27     Thursday  Home          38.50      41.30
          Tuesday   Home          35.30      37.20
17:28     Tuesday   Home          38.90      44.40
17:29     Monday    Home          39.00      42.80
17:31     Monday    Home          35.45      37.50
17:33     Thursday  Home          35.70      38.50
17:36     Tuesday   Home          43.20      49.90
          Wednesday Home          39.00      43.70
17:37     Monday    Home          29.30      31.30
          Thursday  Home          38.70      42.50
17:38     Monday    Home          36.70      39.30
          Thursday  Home          38.90      43.50
          Tuesday   Home          42.40      46.20
17:39     Thursday  Home          43.50      47.90
          Tuesday   Home          36.00      40.40
          Wednesday Home          42.00      48.60
17:41     Thursday  Home          37.60      41.10
17:42     Friday    Home          37.60      39.30
17:43     Tuesday   Home          37.20      41.00
17:46     Thursday  Home          36.20      40.30
17:47     Wednesday Home          46.90      51.70
17:50     Thursday  Home          40.40      44.40
17:51     Tuesday   Home          36.50      51.90
17:53     Wednesday Home          37.70      38.80
17:58     Thursday  Home          40.30      42.00
18:05     Wednesday Home          34.80      37.40
18:57     Tuesday   Home          34.80      36.80
20:31     Friday    Home          27.60      28.20

[178 rows x 6 columns]

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [86]:
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [87]:
travel_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [88]:
travel_df.dtypes

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy        object
TotalTime         float64
MovingTime        float64
Take407All         object
Comments           object
dtype: object

In [89]:
travel_df.count()

Date              205
StartTime         205
DayOfWeek         205
GoingTo           205
Distance          205
MaxSpeed          205
AvgSpeed          205
AvgMovingSpeed    205
FuelEconomy       188
TotalTime         205
MovingTime        205
Take407All        205
Comments           24
dtype: int64